/* BARRA DE NAVEGACIÓN */
.navbar {
  background-color: #6c00aa;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between; 

}

/* anclas de la barra de navegacion */
.navbar-collapse .navbar-nav .nav-item .nav-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-right: 15px; 
  font-family: 'Poppins', sans-serif;

}

/* hover a los link de la barra de navegación */
.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: rgb(232, 213, 255);
}

/* Este es para la parte de mi nombre en la barra de navegación */
.navbar .navbar-brand h1{
  color: aliceblue; 
  padding: 5px;
  font-size: 24px;
  margin-top: 5px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}

.navbar .navbar-brand h1:hover {
   /* border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;  */
  border-color:  rgb(204, 161, 255);
  color: rgb(232, 213, 255);
}


/* Estilos generales */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.seccion-oscura {
  color: white;
  background-color: #540085;
}

.seccion-clara {
  color: black;
  background-color: white;
}

/* PARA TITULOS DE LAS SECCIONES */
.seccion-titulo {
  font-size: 3.5rem;
  padding: 10px 0;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}


.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 150px;
  height: 150px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  /* color: #000000; */
}

.hero .hero-principal h1{
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
}

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
}

/* SECCION TEXTO PARA SECCION SOBRE MI */
.seccion-texto {
  font-size: 1.5rem;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  margin-top: 2rem;
}


/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #540085;
}

.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
  padding: 35px;
  margin: 50px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  
  border-radius: 25px;
  display: block;
  transition: all 0.2s ease;
}


.btn-info {
  font-size: 1.1rem;
  margin: 20px;
  background-color: rgb(145, 10, 255);
  color: #f5f6f7;
  border: none;
 

}


.btn-info:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(145, 10, 255);
  border:1px solid  rgb(145, 10, 255);
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top:60px; 
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

/* Opacidad de imagen en los proyectos */
.proyecto:hover img {
  opacity: 0.3;
}

/* Opacidad de texto en los proyectos */
.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
  justify-content:  center;
}

.overlay i {
  color: black;
  font-size: 50px;
  margin: 10px;
  }





/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgb(171, 106, 255);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}


.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: rgb(145, 10, 255);
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: rgb(145, 10, 255);
}

/* Pie de pagina (footer) */

footer {
  min-height: 300px;
}

/* .footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
} */

.footer-texto {
  font-size: 1.3rem;
  padding: 20px;
  margin-bottom: 30px;
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(145, 10, 255);
}

.iconos-redes-sociales a:hover i {
  color:rgb(145, 10, 255);
}

.derechos-de-autor {
  font-size: 15px;
  color: #ffffff;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
